*.class
.classpath
.project
local.properties
*.ipr
*.iws
*.log
*.bk
*.war
*.ear

build/
.gradle/
.settings/
.idea/
bin/
out/
gen/
docs/
*.iml


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

maven.gradle
